@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*======== Resets ========*/ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*======== Variables ========*/ 
:root {
	--main-bg-color: #4C4A65;
	--secondary-bg-color: #FFFFFF;
	--off-white-container-bg-color: #F2F2F2;
	--off-blue-container-bg-color: #3F3D56;
	--secondary-main-color: #5BE7C4;
	--accent-color: #7A57D1;
	--main-font-color: #F2F2F2;
	--secondary-font-color: #000000;
	--desktop-p-font-size: 1.6rem;
	--desktop-heading-font-size: 2.4rem;
	--mobile-p-font-size: 1.4rem;
	--mobile-heading-font-size: 1.6rem;
}

/*======== font-stylels ========*/ 
* p, h1, h2, a{
	font-family: 'Roboto', sans-serif;
}

p {
	line-height: 3rem;
}

h1 {
	font-size: var(--desktop-heading-font-size);
	color: var(--main-font-color)
}

a {
	color: var(--main-font-color);
	padding: 2rem;
}

i {
	font-size: 5rem;
}

.logo span {
	border-bottom: 4px solid var(--secondary-main-color);
}

header p {
	color: var(--main-font-color)
}

header h2 {
	font-size: var(--desktop-heading-font-size);
	color: var(--main-font-color);
}

.intro h2 {
	align-self: flex-start;
	margin: 1rem;
}

.intro p {
	margin: 1rem;
}
#bio h2 {
	margin-bottom: 2%;
}

#bio h2 span {
	border-bottom: 4px solid var(--secondary-main-color);
}
/*======== general selectors ========*/ 
/* * div {
	border: 2px solid red;
} */
header {
	height: 100vh;
	padding: 2% 5%;
	background-color: var(--main-bg-color);
}

body {
	margin: auto, 0;
}

section {
	padding: 2% 5%;
}

button {
	width: 100%;
	border-radius: 25px;
	line-height: 2rem;
	margin: 1rem;
	border: none;
}

/*======== class & id selectors ========*/ 
.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10%;
}
.landing-content-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-right: 15%;
}

.intro button {
	background-color: var(--secondary-main-color);
	color: var(--secondary-font-color)
}

.heading-svg-container {
	padding-right: 10rem;
}

#bio {
	height: 100vh;
}

.about-container {
	display: flex;
	justify-content: space-around;
	height: 100%;
}

.personal-info {
	background-color: var(--off-white-container-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 5% 0 5%;
	width: 30%;
}

.headshot {
	background-image: url('assets/joshua-oluwagbemiga-8qFarlWZY-U-unsplash.jpg');
	background-size: cover;
	border-radius: 50%;
	height: 20rem;
	width: 20rem;
	margin: 5%;
}

.svg-skills-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.skills {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--off-white-container-bg-color);
	height: 50%;

}

.skill-card {
	border-radius: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 25%;
	width: 25%;
	margin: 2%;
	padding: 2%;
	background-color: #C4C4C4;
}